footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: #ec3237;
    color: white;
    height: 80px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content p {
    margin-top: 12px;
    padding-left: 5px;
}

.footer-content .icon {
    font-size: 25px;
}

/* mobile responsive */

@media only screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 130px;
    }
  }