.banner-container {
    display: flex;
    margin-top: 20px;
}

.banner-img img {
    width: 90%;
}

.award-container {
    padding: 40px;

}


.award-container ul {
    display: block;
    list-style-type: disc;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    line-height: 1.3;
}

.award-container img {
    width: 100%;
}

.highlited-text {
    font-weight: 600;
}

/* BigScreen Responsive */



/* Tablet Responsive */

@media only screen and (max-width: 992px) {
    .banner-img img {
        width: 400px;
    }
}

/* Responsive for mobile */

@media only screen and (max-width: 700px) {
    .banner-container {
        display: flex;
        flex-direction: column;
    }
    
    .award-container h4, .award-container p {
        text-align: justify;
        line-height: 1.3;
    }

    .banner-img {
        
        display: flex;
        justify-content: center;
    }

    .banner-img img {
        width: 60%;
    }
  }